@using csharp_boolflix.Models.Form
@model MediaForm;

<form asp-controller="Film" asp-action="Update" method="post">
    @Html.AntiForgeryToken()
  <div class="form-group pb-3">
    <label asp-for="Film.Title"></label>
    <input type="text" class="form-control" asp-for="Film.Title" placeholder="Metti il nome">
    <span class="text-danger" asp-validation-for="Film.Title"></span>

    <label asp-for="Film.Image"></label>
    <input type="text" class="form-control" asp-for="Film.Image" placeholder="Metti url immagine">
    <span class="text-danger" asp-validation-for="Film.Image"></span>

    <label asp-for="Film.ReleaseDate"></label>
    <input type="date" class="form-control" asp-for="Film.ReleaseDate" placeholder="Metti url immagine">
    <span class="text-danger" asp-validation-for="Film.ReleaseDate"></span>

    <label asp-for="Film.Description"></label>
    <textarea type="text" class="form-control" asp-for="Film.Description" placeholder="Metti descrizione"></textarea>
    <span class="text-danger" asp-validation-for="Film.Description"></span>

    <label asp-for="Film.Duration"></label>
    <input type="text" class="form-control" asp-for="Film.Duration" placeholder="Metti la durata">
    <span class="text-danger" asp-validation-for="Film.Duration"></span>

  <select asp-for="SelectedCategories" 
      asp-items="@Model.Categories" 
      multiple="multiple" 
      class="form-select my-4">

  </select>

    <select asp-for="SelectedActors" 
      asp-items="@Model.Actors" 
      multiple="multiple" 
      class="form-select my-4">

  </select>
  </div>
  <button type="submit" class="btn btn-success">Salva</button>
</form>
